# Visual Studio workspace files
/.vscode/
/.vs/
/MediaDB/.vs/

# Build outputs
/MediaDB/bin/
/MediaDB/obj/

# NuGet packages restored locally
/packages/

# User-specific project and publish settings
*.user
*.pubxml
*.pubxml.user
